<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcmo.z.unenoticeboard.library" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application>
        <activity android:name=".ErrorActivity"
            android:label="@string/error_act_label"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="com.mcmo.z.unenoticeboard.ERRORACT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
